@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.bg-shape1 {
  width: 400px;
  height: 400px;
  border-radius: 9999px;
  position: relative;
}

.bg-blur {
  filter: blur(90px);
}

.bg-blue-blur {
  filter: blur(240px);
}
